# Your Hedera ECDSA Private Key (e.g., from HashPack or Blade Wallet)
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Hedera JSON-RPC Relay URLs (using Hashio as default)
HEDERA_MAINNET_URL=https://mainnet.hashio.io/api
HEDERA_TESTNET_URL=https://testnet.hashio.io/api

# Required only if you deploy Seaport individually (npx hardhat run deploy/deploy_seaport.ts)
CONDUIT_CONTROLLER_ADDRESS=
